ErrorDocument 404 index.php

RewriteEngine on

RewriteBase /readosaur/web

RewriteRule ^$ index.php [L,QSA]

RewriteCond $1 !^robots\.txt
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/favicon.ico

RewriteRule ^(.*)$ index.php?query=$1 [L,QSA]
