@import 'screen.css';

#sidebar, #footer {
	display: none;
}

#content {
	margin-left: 0;
}

#logo {
	height: 30px;
	width: 30px;
}

#body a.external {
	background-image: none;
	padding-right: 0;
}

#body a.external:after {
	content: " <"attr(href)">";
}