html, body {
	height: 100%;
}

a {
	text-decoration: none;
}

#document {
	height: auto !important;
	height: 100%;
	margin: auto;
	min-height: 100%;
	position: relative;
}

#sidebar {
	border-right: 2px solid;
	height: 100%;
	position: fixed;
	width: 198px;
}

#head {
	position: absolute;
	width: 86px;
}

#logo {
	height: 66px;
	padding: 10px;
	width: 66px;
}

#controls {
	height: 56px;
	margin-left: 86px;
	padding: 15px 10px;
}

#controls .user, #controls .control {
	font-weight: bold;
	list-style: none;
	margin: 0;
	overflow: hidden;
	text-transform: lowercase;
}

#controls .control a {
	display: block;
	white-space: nowrap;
}

#menu {
	margin-top: 20px;
}

#menu .item {
	list-style: none;
	margin: 0;
	overflow: hidden;
}

#menu .item a {
	display: block;
	height: 18px;
	line-height: 2;
	padding: 0 10px 8px 12px;
	white-space: nowrap;
}

#menu .item a img {
	margin-right: 3px;
	position: relative;
	top: 3px;
}

#content {
	margin-left: 200px;
	padding-bottom: 100px;
}

#body {
	line-height: 2.0;
}

#body h2 {
	padding: 30px 20px 50px;
	text-transform: uppercase;
}

#body a, #body em {
	white-space: nowrap;
}

#body .items {
	width: 600px;
}

#body .items .item {
	padding: 0 20px;
}

#body .items .expanded {
	padding: 5px 20px;
}

#body .items .expanded .title {
	font-weight: bold;
}

#body .items .item .expand, #body .items .item .collapse {
	cursor: pointer;
}

#body .items .item .title .date, #body .items .item .title .time {
	float: right;
	margin-left: 10px;
}

#foot {
	bottom: 0;
	position: absolute;
	width: 100%;
}

#copyright {
	padding: 6px 12px;
}